.searchbar{
    width: 60%;
    
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
    border: none;
    background-color:antiquewhite;
    outline: none;
    font-size: 18px;
}
.searchBtn{
    padding: 12px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    background-color:antiquewhite;
    font-size: 18px;
    cursor: pointer;
}
